@import "tailwindcss";



:root {
  --background-main: #100b2c; /* Main Dark Background */
  --background-box: #18142B; /* Box Background */
  --foreground-rgb: 255, 255, 255;
}

body {
  background-color: var(--background-main);
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-geist-sans);
}

/* Apply box background color to cards/containers */
.box {
  background-color: var(--background-box);
  border-radius: 8px;
  padding: 16px;
}

/* Apply the fantasy font to titles */
h1, h2, h3 {
  font-family: var(--font-dancing-script);
}

